.big-banner{
  background-image: url("../assets/background5.jpg");
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100% !important;
  height: 100% !important;
 }

body {
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
}
/* The sidebar menu */
.sidenav {
  height: 100%;
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, .5); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  float: left;
}

.nav {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5); /* Black */
  padding-top: 20px;
}

.no-scroll {
  position: absolut;
}

.footer {
  left: 0;
  bottom: 0;
  width: 70%;
  background-color: red;
  color: white;
  text-align: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-family: 'Potta One', cursive;
  font-size: 25px;
  color: gray;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  padding-top: 3%;
}

.text-box {
  margin-left: 275px;
  margin-right: 100px;
  margin-top: 100px;
  width: 40%;
  height: 30%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.profile {
  size: 50%;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 7%;
 
}

.fill-height {
  min-height: 100%;
  min-width: 100%;
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.dates {
    color: gray !important;

}

.row {
  height: 100%;
}

.intro-container {
  width: 100%;
  height: 100%;
  padding-right: 5%;
  padding-top: 5%;
  overflow: auto;
}

.introduction-box {
  background-color: rgba(0, 0, 0, .4);
  height: fit-content;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.project-container {
  background-color: rgba(0, 0, 0, .4);
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.heading-introsite {
  color: white;
  text-align: center;
  font-family: 'Potta One', cursive;
}

.heading-sidebar {
  color: gray;
  text-align: center;
  font-family: 'Potta One', cursive;
  padding-top: 10%;
}

.about-text {
  font-family: 'Londrina Solid', cursive;
  color: white;
  size: 10%;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

th {
    font-family: 'Londrina Solid', cursive;
    color: white;
    size: 40px;
    padding-top: 5px;
    text-align: center;
}

td {
    font-family: 'Londrina Solid', cursive;
    color: white;
    size: 40px;
    padding-top: 5px;
}

.table-bordered {
    margin: auto;
    margin-top: 50px;
}

.project-img {
    width: 30%;
    height: 10%;
}

.heading-project {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Londrina Solid', cursive;
    color: white;
    size: 40px;
    padding-top: 5px;
}

.text-project {
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Londrina Solid', cursive;
    color: white;
    size: 40px;
    padding-top: 5px;
}

.keywords-text {
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Fredoka One', cursive;
    vertical-align: top !important;
    color: white;
}

.icon {
    width: 10%;
    margin-left: 2%;
    border-style: none !important;
}

.big-icon {
    width: 20%;
    margin-left: 2%;
    border-style: none !important;
}

.affix {
    top: 20px;
    z-index: 9999 !important;
  }